<div class="p-grid form-login">
  <div class="p-col-12 title p-px-1">
  </div>

  <div class="p-col-12 p-grid main">
    <div class="p-col-12 p-sm-12 p-lg-5 p-text-center" style="background: #fce4d6; margin: auto;">
      <p>Thông tin đăng nhập</p>

      <form action="">
        <table style="margin: auto; width: 100%;">
          <tr>
            <td>
              <span>Mã học sinh</span>
            </td>
            <td>
              <input type="text" pInputText style="width: 100%;">
            </td>
          </tr>

          <tr>
            <td>
              <span>Email</span>
            </td>
            <td>
              <input type="text" pInputText style="width: 100%;">
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              <input type="text" pInputText placeholder="Nhập mã kiểm tra">
            </td>
          </tr>

          <tr>
            <td></td>
            <td class="p-text-right">
              <a href="#">Quên mật khẩu</a>
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              <button pButton pRipple type="button" label="Đăng nhập" class="p-mr-3 p-button-warning"></button>
              <button pButton pRipple type="button" label="Hủy" class="p-button-secondary"></button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
