<div class="p-grid dashboard">
  <div class="p-col-12 title">
    <span>Thông tin học phí</span>
  </div>

  <div class="p-col-12">
    <form action="">
      <div class="p-col-12 p-grid p-fluid">
        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Mã học sinh <sup>*</sup></span>
          <input type="text" pInputText>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Kỳ học phí <sup>*</sup></span>
          <input type="text" pInputText>
        </div>

        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Năm học <sup>*</sup></span>
          <input type="text" pInputText>
        </div>
      </div>

      <div class="p-col-12 p-grid p-pt-2">
        <div class="p-col-12 p-text-center">
          <button pButton pRipple type="button" label="Tra cứu" class="p-button-warning p-m-2"></button>
          <button pButton pRipple type="button" label="Bỏ qua" class="p-button-outlined p-button-secondary p-m-2"></button>
        </div>
      </div>
    </form>

    <form action="">
      <div class="p-col-12">
        <p>Thông tin đóng học phí:</p>
      </div>
      <div class="p-col-12 p-grid p-fluid">
        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Mã học sinh</span>
          <input [readOnly]="true" type="text" pInputText>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Họ tên</span>
          <input [readOnly]="true" type="text" pInputText>
        </div>

        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Lớp</span>
          <input [readOnly]="true" type="text" pInputText>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Cấp học</span>
          <input [readOnly]="true" type="text" pInputText>
        </div>

        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Kỳ</span>
          <input [readOnly]="true" type="text" pInputText>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Năm học</span>
          <input [readOnly]="true" type="text" pInputText>
        </div>

        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Số tiền cần đóng</span>
          <input [readOnly]="true" type="text" pInputText>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
          <span class="p-mr-3">Trạng thái</span>
          <input [readOnly]="true" type="text" pInputText>
        </div>
      </div>

      <div class="p-col-12 p-grid p-pt-3">
        <div class="p-col-12 p-text-center">
          <button pButton pRipple type="button" label="Đóng học phí" [disabled]="true" class="p-button-warning p-m-2"></button>
          <button pButton pRipple type="button" label="Bỏ qua" class="p-button-outlined p-button-secondary p-m-2"></button>
        </div>
      </div>
    </form>
  </div>
</div>
