<div class="p-grid payment-atm">
  <div class="p-col-12 title">
    <span>Thông tin thanh toán học phí</span>
  </div>

  <div class="p-col-4 p-fluid info atm__infouser">
    <h3 class="info__title">Mời quý khách nhập thông tin số thẻ cần thanh toán</h3>
    <form action="">
      <div class="p-col-12">
        <span>Số thẻ KH</span>
        <p-inputMask mask="9999-9999-9999-9999" [(ngModel)]="val2" placeholder="xxxx-xxxx-xxxx-xxxx"></p-inputMask>
      </div>
      <div class="p-col-12">
        <span>Họ và tên chủ thẻ</span>
        <input type="text" placeholder="Nhập tên chủ thẻ" pInputText>
      </div>
      <div class="p-col-12">
        <span>Ngày phát hành</span>
        <p-inputMask mask="99/99" [(ngModel)]="val2" placeholder="99/99" slotChar="mm/dd"></p-inputMask>
      </div>
      <div class="p-col-12">
        <span>Mã OTP</span>
        <p-inputMask mask="9999-9999-9999-9999" [(ngModel)]="val2" placeholder="xxxx-xxxx-xxxx-xxxx"></p-inputMask>
      </div>
    </form>

  </div>

  <div class="p-col-4 info atm__infouser">
    <h3 class="info__title">Mời quý khách nhập thông tin số thẻ cần thanh toán</h3>

  </div>

  <div class="p-col-4 info atm__infouser">
    <h3 class="info__title">Mời quý khách nhập thông tin số thẻ cần thanh toán</h3>

  </div>

  <div class="p-col-12 p-grid p-pt-2">
    <div class="p-col-12 p-text-center">
      <button pButton pRipple type="button" label="Trước" class="p-button-outlined p-button-secondary p-m-2"></button>
      <button pButton pRipple type="button" label="Tiếp tục" class="p-button-warning p-m-2"></button>
    </div>
  </div>
</div>
