<div class="p-grid payment">
  <div class="p-col-12 title">
    <span>Thông tin thanh toán học phí</span>
  </div>

  <div class="p-col-12 info info__user">
    <h3 class="info__title">Thông tin học sinh</h3>
    <div class="info__detail" *ngFor="let info of infoUser">
      <ul>
        <li>
          <p>Mã học sinh: <span>{{ info.mahs }}</span></p>
        </li>
        <li>
          <p>Tên học sinh: <span>{{ info.hoten }}</span></p>
        </li>
        <li>
          <p>Năm học: <span>{{ info.namhoc }}</span></p>
        </li>
        <li>
          <p>Kỳ/đợt: <span>{{ info.ky }}</span></p></li>
        <li>
          <p>Cấp học - Cơ sở: <span>{{ info.cap }}</span></p>
        </li>
      </ul>
    </div>
  </div>

  <div class="p-col-12 info info__payment">
    <h3 class="info__title">Thông tin thanh toán</h3>
    <div class="info__detail">
      <ul>
        <li>
          <p>Tổng số tiền học phí thực hiện thanh toán:
            <span class="monney">60.500.000 VND</span>
          </p>
        </li>
        <li>Đơn vị thụ hưởng:
          <ul>
            <li>
              <p>Tên tài khoản: <span>CTCP GIAO DUC ALPHA-TKTT</span></p>
            </li>
          </ul>
        </li>
        <li>Chọn hình thức thanh toán:
          <ul>
            <li>
              <p-dropdown
                [options]="cities"
                [(ngModel)]="selected"
                placeholder="--Chọn hình thức thanh toán--"
                optionLabel="name"
                [showClear]="true">
              </p-dropdown>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>


  <div class="p-col-12 p-grid p-pt-2">
    <div class="p-col-12 p-text-center">
      <button pButton pRipple type="button" label="Trước" class="p-button-outlined p-button-secondary p-m-2"></button>
      <button pButton pRipple type="button" label="Tiếp tục" class="p-button-warning p-m-2"></button>
    </div>
  </div>
</div>
