<section>
  <div class="wrapper">
    <header class="page-header">
      <app-header></app-header>
    </header>
    <main class="page-body">
      <app-forgot-pass></app-forgot-pass>
    </main>
    <footer class="page-footer">
      <app-footer></app-footer>
    </footer>
  </div>
</section>
