.header {
  height: 180px;
  .header__logo {
    img {
      vertical-align: middle;
      width: auto;
      max-height: 150px;
    }
  }
  .header__nav {
    .banner {
      margin: 0 auto;
      img {
        height: 80px;
      }
    }
  }
}

// Small devices (landscape phones, < 740px)
@media only screen and (max-width: 47.9375em) {
  .header {
    .header__nav {
      .banner {
        display:none;
      }
    }
  }

}

// Medium devices (tablets, < 992px)
@media only screen and (max-width: 61.9375em){
  .header {
    .header__nav {
      .banner {
        display:none;
      }
    }
  }
}
