<div class="p-grid header">
  <div class="p-col-8 p-md-8 p-lg-3 header__logo">
    <a href="https://alphaschool.edu.vn/">
      <img src="../../../../assets/LOGO-Alpha-School.png" alt="logo">
    </a>
  </div>

  <div class="p-col-1 p-md-1 p-lg-6 header__nav">
    <div class="banner">
      <img src="../../../../assets/banner.png" alt="">
    </div>

    <div class="nav">
      <p-menubar [model]="items"></p-menubar>
    </div>
  </div>

  <div class="p-col-3 p-md-3 p-lg-3 p-fluid p-grid">
    <div class="p-col-6 p-text-center p-pt-3">
      <span><i class="pi pi-user"></i> {{ userName }}</span>
    </div>
    <div class="p-col-6">
      <p-button label="Đăng xuất"></p-button>
    </div>
  </div>
</div>
